@model LiveMemes.Models.MemesViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Create", "Memes", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))

{
    <div class="form-group">
        @Html.LabelFor(m => m.UpperText, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UpperText, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LowerText, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.LowerText, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create Memes" class="btn btn-default" />
        </div>
    </div>
}
